*{
    border: none;
    padding: 0;
    margin: 0;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.youtube{
  display: flex;
  align-items: center;
}
.menubtn{
  padding-left: 20px;
  height: 20px;
  width: 20px;
}
.Yout{
  padding-left: 20px;
  width: 100px;
  height: 30px;
}
.search-container {
  display: flex;
  margin: 6px;
  align-items: center;
  height: 34px;
  width: 500px; /* Adjust width as needed */
  border-radius: 34px;
  border: 1px solid rgba(128, 128, 128, 0.493);
  overflow: hidden;
}

input[type="text"] {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
}
.srch{
  width: 20px;
  height: 20px;
}
.signin-button {
  background-color: rgba(128, 128, 128, 0.29);
  border: none;
 padding: 10px 20px;
  cursor: pointer;
}
.account{ 
  margin-right: 20px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.create-video{
  width: 24px;
  height: 24px;
}
.bell{
  padding-left: 35px;
  padding-right:35px ;
}
.circle {
  width: 24px; /* Set the width and height of the circle */
  height: 24px;
  border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
  overflow: hidden; /* Ensure the image is clipped to the circular shape */
}

.circle img {

  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
}


.scroll-container {
    width: 100%;
    overflow-x: auto;
  }
  
  .scroll-items {
    white-space: nowrap;
  }
  
  .scroll-item {
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 14px;
    padding-right: 14px;
    display: inline-block;
    height:fit-content;
    background-color: #cccccc89;
    margin: 5px;
  }
  